body {
  width: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

.container {
  width: 1150px;
  margin: auto;
  padding: 150px 0;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1199px) {
  .container {
    margin-bottom: 100px;
    padding-top: 100px;
    width: 100%;
  }
}
@media (max-width: 999px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    padding-top: 100px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 12px;
    margin-bottom: 80px;
    padding-top: 80px;
  }
  .input__data {
    width: 100%;
  }
  .output__data {
    width: 100%;
  }
  .memes__preview-container {
    width: 100%;
  }
}

h1,
h2 {
  margin-bottom: 42px;
  font-size: 50px;
  font-weight: 700;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
}

.option__wrapper {
  margin-bottom: 42px;
}

.text__input {
  padding: 12px 21px;
  width: 393px;
  height: 54px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 1);
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  resize: none;
}

.text__input::placeholder {
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 0, 0, 0.9);
}

.memes__select {
  width: 432px;
  /* appearance: none; */
  padding: 12px 21px;
  overflow: none;
  font: inherit;
  font-size: 22px;
  line-height: 30px;
  height: 54px;
  border-radius: 15px;
  border: 1px solid #000;
  background: #fff;
  /* background-image: url(images/dropdown-arrow.png);
  background-size: 45px 32px;
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0; */
}

.input__title,
label {
  margin-bottom: 13px;
  font-size: 35px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}

.preview__image {
  width: 568px;
  height: 568px;
  border-radius: 25px;
  object-fit: contain;
  object-position: center;
}

.memes__preview-container {
  position: relative;

  margin: 0 auto;
}
.text__top,
.text__bottom {
  display: block;
  position: absolute;
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text__top {
  top: 22px;
  left: 25%;
}

.text__bottom {
  bottom: 30px;
  left: 8%;
}

.output__title {
  margin-bottom: 50px;
}

.delete__text-button {
  width: 393px;
  height: 54px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: red;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.delete__text-button:hover {
  background-color: transparent;
  color: black;
}
